{% extends "header_footer.html" %}
{% block content %}
<div class="container my-5">
<h1 class="text-center font-extrabold text-lg p-2" style="  background-color: #81ffd9; color: #051726;">Company Signup</h1>
    <form class="my-2" action="{% url 'company-signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" style="color: #051726;"  type="button" value="Signup">
    </form>
    <p>Already registered!</p>
    <a class="btn btn-secondary" href="{% url 'login' %}">Login Now</a><br>
</div>
{% endblock content %}
{% block loginlogout %}
<a href="{% url 'login' %}">Login</a>
{% endblock loginlogout %}